<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bottom Navbar Bootstrap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <!-- Bottom Navbar -->
  <nav class="p-0 navbar navbar-light bg-white navbar-expand d-md-none d-lg-none d-xl-none">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
       
        </a>
        <span class="small d-block"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
            
        </a>
      </li>
      <li class="nav-item">
       
            {{- if site.Copyright }}
      
        {{- else }}
      
        {{- end }}
        <span>
      
        </span>
        </div>
        </a>
      </li>
      </li>
    </ul>
  </nav>
</body>
</html>

